.burgerIngridients {
    max-width: 615px;
    max-height: calc(100vh - 128px);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.burgerIngridients::-webkit-scrollbar {
    width: 10px;
    background-color: #2F2F37;
}

.burgerIngridients::-webkit-scrollbar-button {
    background-color:  rgba(0,0,0,0);
}

.burgerIngridients::-webkit-scrollbar-thumb {
    background-color: #8585AD
}

.title {
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.selector {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.ingridientsList {
    padding: 24px 16px 40px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    column-gap: 24px;
    row-gap: 32px;
}