.App {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0);
    color: #F2F2F3;
    font-family: 'JetBrains Mono', 'Arial', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
}

